@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');

{
    background-color: #1a1a1a !important;
}

/* Remove whisper popups */
md-toast {
    display: none !important;
}

.loading-screen {
 background-color: #0E0C13 !important;
}

/**** Chat ****/
.chat-line:nth-of-type(even) {
	background-color: #0e0e0e !important;
}
.chat-line:nth-of-type(odd) {
	background-color: #1a1a1a !important;
}

.chat-wrapper {
    font-size: 10.2pt !important;
    font-family: 'Arial', sans-serif !important;
 
}

.chat-line-username {
    font-weight: bold !important;
}

.chat-input-box textarea, .chat-input-box textarea { 
    border: solid 0px gray;
    background-color: #0e0e0e !important;
}

.emote-menu-button {
    bottom: 0px !important;
}

.chat-mention { 
    font-weight: bold;
}

a.register:link { 
	color:#838383; text-decoration:none; font-weight:normal !important; 
}


/** decrease size of autocomplete list */

.md-panel.autocomplete-panel .autocomplete-panel-content .md-button,
.md-panel.autocomplete-panel .autocomplete-panel-content ._md-button-wrap,
.md-panel.autocomplete-panel .autocomplete-panel-content ._md-button-wrap .md-list-item:before,
.md-panel.autocomplete-panel .autocomplete-panel-content ._md-button-wrap .md-list-item-inner:before{
    font-size: 9pt !important;
    max-height: 22px !important;
    min-height: 10px !important;
}


/* Scale down and center inline mod icons */
.chat-line-mod-button-label {
    height: 16px !important;
    transform: translate3d(0px, -1.5px, 0px) !important;
}

.chat-line-wrapper.chat-line-deleted .chat-line-text{
    text-decoration: none !important;
}

.chat-input-box {
    border-top: solid 0px gray !important;
    padding: 10px !important;
}

/**** Mod Card ****/
.mod-card button.md-button.mod-card-mod-button {
    margin: 0 !important;
    padding: 6.5px !important;
}

.mod-card button.md-button.mod-card-mod-button img {
    height: 32px !important;
    transform: none !important;
}

.md-button {
    padding: 0 !important;
}

