@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Remove whisper popups */
md-toast {
    display: none !important;
}
/**** Chat ****/
.chat-line:nth-of-type(even) {
	background-color: #0e0c13 !important;
}
.chat-line:nth-of-type(odd) {
	background-color: #1a181f !important;
}

.chat-wrapper {
    font-size: 10pt !important;
    font-family: 'Roboto Condensed', sans-serif !important;
 
}

/* Scale down and center inline mod icons */
.chat-line-mod-button-label {
    height: 16px !important;
    transform: translate3d(0px, -1.5px, 0px) !important;
}

.chat-line-username {
    font-weight: bold !important;
}

.chat-line-wrapper.chat-line-deleted .chat-line-text{
    text-decoration: none;
}
